p {
  margin: 0;
}

.Overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  margin: 1em;
  padding: 1em;
}

.tasks-header {
  display: flex;
  align-items: center;
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.tasks-counter {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0rem .25rem;
}

.tasks-list {
  list-style: none;
  margin: .25rem;
  text-align: left;
  width: 40vw;
  max-width: 70vw;
}

.task-item {
  padding: .25em;
}

.task-div, .edit-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.delete-task-text-decoration {
  text-decoration: line-through;
  opacity: .7;
}

.delete-btn {
  cursor: pointer;
}

.edit-btn {
  cursor: pointer;
}

.edit-btn:hover {
  color: #61dafb;
}

.re-submit-btn {
  cursor: pointer;
}

.re-submit-btn:hover {
  color: #0ea823;
}

.cancel-btn {
  cursor: pointer;
}

.cancel-btn:hover {
  color: #e20c0c;
}

.actions-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
}

.edit-task-input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  font-size: 1.2rem;
}

.inactive {
  display: none;
} 